.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color:brown;
}

.container label {
    font-weight: 600;
    font-size: 1rem;
    color: #f80505;
}

.container input {
    border-radius: 7px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 10px 15px;
    color: #000;
}